@model ProyectoDPWA_Citas.Models.CIta

@{
    ViewData["Title"] = "Editar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Cita</h2>
<hr />
@if (Model.Estado.Equals("Cancelada") || Model.Estado.Equals("Finalizada"))
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error no puedes editar una cita ya finalizada o editada</h4>
        <p>Cuando el estado de una cita es Cancelada o Finalizada no puede editarla, si esta viendo esta pagina contacte al administrador</p>
    </div>

}
else
{

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCita" />
                <div class="form-group">
                    <label asp-for="IdPaciente" class="control-label"></label>
                    <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                    <span asp-validation-for="IdPaciente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" type="date" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hora" class="control-label"></label>
                    <input asp-for="Hora" class="form-control" />
                    <span asp-validation-for="Hora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control" required>
                        <option value="-1" disabled selected>Seleccione</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Confirmada">Confirmada</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar Citas" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index" class=""><i class="bi bi-chevron-left"></i> Regresar a la lista</a>
</div>

