@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clinica XYZ</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <img src="https://cdn.pixabay.com/photo/2020/03/31/07/56/face-mask-4986596_960_720.jpg" class="d-block w-100" alt="..." />
    <div id="acerca">
        <br />
        <br />
        <h3 class="text-sm-start">ACERCA DE ALGUNOS SERVICIOS</h3>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col" id="c1b">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body btn btn-outline-dark" data-bs-toggle="collapse">
                        <img src="https://pysgestionintegralsas.com/wp-content/uploads/2020/09/Consulta-medica-general-pys-gestion-integral.jpg" class="card-img-top" alt="Cinque Terre" height="300">
                        <p class="dite text-center">Consulta General</p>
                        <div class="collapse" id="tema1">
                            <p class="text-sm-start">
                                La Consulta General es un proceso centrado en la relación médico-paciente que busca
                                brindar apoyo a las necesidades de salud-enfermedad, sufrimiento e incertidumbre que tiene el paciente cuando
                                se ve afectada su integridad física, humana y emocional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" id="c2b">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body btn btn-outline-dark" data-bs-toggle="collapse">
                        <img src="https://plustatic.com/1975/conversions/tipos-terapia-psicologica-large.jpg" class="card-img-top" alt="Cinque Terre" height="300">
                        <p class="dite text-center">Terapia psicológica</p>
                        <div class="collapse" id="tema2">
                            <p class="text-sm-start">
                                La terapia psicológica o psicoterapia, es el nombre que recibe el conjunto de
                                técnicas usadas por el psicólogo clínico, con el fin de mejorar la calidad de vida de los pacientes.
                                A través de la psicoterapia se logra modificar la conducta para evitar aquellos comportamientos y pensamientos
                                que nos provocan malestar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" id="c3b">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body btn btn-outline-dark" data-bs-toggle="collapse">
                        <img src="https://universidadlaconcordia.edu.mx/blog/wp-content/uploads/2019/01/ULC-terapia-fisica-y-rehabilitacion-como-ayuda-a-pacientes-con-cancer.jpg" class="card-img-top" alt="Cinque Terre" height="300">
                        <p class="dite text-center">Terapia Física</p>
                        <div class="collapse" id="tema3">
                            <p class="text-sm-start">
                                La Terapia Física y Rehabilitación es una especialidad que tiene como objetivo
                                recuperar y mejorar la capacidad funcional y calidad de vida de aquellas personas que sufren de discapacidad
                                por una enfermedad o lesión.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/js/jquery.js"></script>
        <script src="~/js/jquery-3.6.0.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
